@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap');

body {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

.background {
    background-color: #FFB084;
    height: 85vh;
    width: 65vw;
    border-radius: 100px;
    align-items: center;
}

.background, section, .persona_avatar, .persona_name{
    display: flex;
    justify-content: center;
}

.card_box, .personal_data_box {
    display: flex;
    flex-direction: column;
}

section {
    height: 100vh;
    align-items: center;
    background-color: #E5E5E5;
}

.content {
    display: grid;
    grid-template-columns: repeat(10, 200px);
    grid-template-rows: repeat(12, 87px);
    gap: 80px 120px;
}

.content div {
    background-color: white;
    border-radius: 80px;
}

.content div:nth-child(1) {
    grid-column: 1/5;
    grid-row: 1/11;
    box-shadow: 30px 30px;
}

.content div:nth-child(2) {
    grid-column: 5/11;
    grid-row: 1/5;
    box-shadow: 30px 30px;
}

.content div:nth-child(3) {
    grid-column: 5/8;
    grid-row: 5/8;
    box-shadow: 30px 30px #29A71E;
}

.content div:nth-child(4) {
    grid-column: 8/11;
    grid-row: 5/10;
    box-shadow: 30px 30px #E13535;
}

.content div:nth-child(5) {
    grid-column: 5/8;
    grid-row: 8/13;
    box-shadow: 30px 30px #3675B0;
}

.content div:nth-child(6) {
    grid-column: 8/11;
    grid-row: 10/13;
    box-shadow: 30px 30px;
}

.content div:nth-child(7) {
    grid-column: 1/5;
    grid-row: 11/13;
    box-shadow: 30px 30px;
}

.persona_name {
    font-weight: 700;
    font-size: 110px;
    margin-top: 50px;
}

.persona_avatar img {
    width: 50%;
    margin-top: 75px;
}

.personal_data_box {
    margin-top: 60px;
}

.personal_data {
    font-weight: 600;
    font-size: 55px;
    line-height: 130px;
    margin-left: 100px;
}

.personal_data_description {
    font-weight: 400;
    font-size: 55px;
}

.card_title {
    font-weight: 700;
    font-size: 64px;
    margin-bottom: 25px;
}

.card_text {
    font-size: 64px;
    font-weight: 400;
    line-height: 80px;
}

.card_box {
    margin: 45px 90px;
}

.card_box ul {
    margin: 0 0 0 60px;
}

.content div:nth-child(3) > span > span > span {
    color: #29A71E;
}

.content div:nth-child(4) > span > span > span {
    color: #E13535;
}

.content div:nth-child(5) > span > span > span {
    color: #3675B0;
}